[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
fastapi = "*"
music21 = "*"
matplotlib = "*"
aiofiles = "*"
midi2audio = "*"

[requires]
python_version = "3.8"
